@import '~antd/dist/antd.css';

body {
  /* padding: 20px; */
}

.h-logo {
  float: left;
  color: white;
  font-weight: bold;
  font-size: larger;
  margin-right: 10px;
}

.h-user {
  color: white;
  position: absolute;
  right: 50px;
  top: 0;
  cursor: pointer;
}

.ticket-opened {
  background-color: #f5fff0;
}

.ticket-closed {
  background-color: #fff1f0;
}
