@import '~antd/dist/antd.css';

body {
  /* padding: 20px; */
}

.logo {
  /* width: 120px; */
  /* height: 31px; */
  /* background: rgba(255,255,255,.2); */
  /* margin: 16px 24px 16px 0; */
  float: left;
  color: white;
  font-weight: bold;
  font-size: larger;
}

.ticket-opened {
  background-color: rgb(230, 255, 247);
}

.ticket-closed {
  background-color: rgb(255, 247, 230);
}
